# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/

# Windows system files
Thumbs.db
desktop.ini

# VS Code settings (optional)
.vscode/

# Node.js / npm
node_modules/
dist/
package-lock.json

# Other
run_dashboard.md